$primary: #2a3647;
$secondary: #29abe2;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;

.add-task {
	width: 100%;
	margin-top: 96px;
	padding-left: 230px;

	.add-task-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 50px 100px;
		.add-task-position {
			.clear-form-button {
				color: $primary;
				background-color: #f6f7f8;
				transition: all 0ms ease-in-out;
				border: solid 2px $primary;
				&:hover {
					border: solid 2px $secondary;
					color: $secondary;
					background-color: #f6f7f8;
				}
				img:hover {
					background-color: #f6f7f8;
				}
			}

			.submit-form-button {
				transition: all 0ms ease-in-out;
				&:hover {
					background-color: $secondary;
				}
			}
			.dropdown {
				.btn.btn-primary {
					cursor: pointer;
					display: block;
					position: relative;
					width: 100%;
					text-align: left;
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					color: var(--bs-body-color);
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background-color: var(--bs-body-bg);
					background-clip: padding-box;
					border: var(--bs-border-width) solid var(--bs-border-color);
					border-radius: var(--bs-border-radius);
					transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
					cursor: auto;

					&::after {
						content: '';
						display: inline-block;
						position: absolute;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
						background-repeat: no-repeat;
						background-size: contain;
						width: 0.75em;
						height: 0.75em;
						right: 1em;
						top: 35%;
						border: none;
					}
					&:focus {
						border-color: #86b7fe;
						outline: 0;
						box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
					}
				}
				.btn.btn-primary.add-contact-btn {
					display: flex;
					justify-content: center;
					color: white;
					font-weight: 700;
					font-size: 21px;
					background-color: $primary;
					&:hover {
						background-color: $secondary;
					}
					&::after {
						content: none;
					}
				}
				.dropdown-menu {
					width: 100%;
					.contact {
						cursor: pointer;
						&:hover {
							background-color: #f0f0f0;
						}
					}
					.form-check {
						width: 100%;
					}
				}
			}
            .rounded-name-bg {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 42px;
                width: 42px;
                border-radius: 100%;
                border: solid 2px white;
                p {
                    color: white;
                    font-size: 12px;
                }
            }
		}
	}

	.form-label {
		color: black;
	}

	.btn-group {
		gap: 16px;

		.btn {
			border-radius: 10px !important;
			width: 136px;
			max-width: 33%;
			height: 56px;
			font-size: 20px;
			font-weight: 700;
			color: $primary;
			&:hover {
				box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
			}
		}
		.btn.btn-prio-class-urgent {
			background-color: #ff3d00;
			color: white;
			box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
		}
		.btn.btn-outline-urgent {
			background-color: white;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
			&:hover {
				background-color: #ff3d00;
				color: white;
				box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
			}
		}

		.btn.btn-prio-class-medium {
			background-color: #ffa800;
			color: white;
			box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
		}
		.btn.btn-outline-medium {
			background-color: white;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
			&:hover {
				background-color: #ffa800;
				color: white;
				box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
			}
		}
		.btn.btn-prio-class-low {
			background-color: #7ae229;
			color: white;
			box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
		}
		.btn.btn-outline-low {
			background-color: white;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
			&:hover {
				background-color: #7ae229;
				color: white;
				box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
			}
		}
	}
}

@media (max-width: $breakpoint-lg) {
	.add-task {
		width: 100%;
		margin-top: 60px;
		padding-left: 0px;
		margin-bottom: 100px;
		.add-task-container {
			padding: 30px;
		}
	}
}

@media (max-width: $breakpoint-md) {
	.add-task {
		.btn-group {
			gap: 8px;

			.btn {
				width: 100px;
				font-size: 12px;
			}
		}
	}
}
