$secondary: #29abe2;

.add-task {
	width: 100%;
	margin-top: 96px;
	margin-left: 230px;

	.add-task-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 100px;
		.add-task-position {
		}
	}

	.form-label {
		color: black;
	}

	.clear-form-button {
		border: $secondary;
		background-color: none;
		transition: all 0ms ease-in-out;
		&:hover {
			background-color: #fff;
		}
	}

	.submit-form-button {
		transition: all 0ms ease-in-out;
		&:hover {
			background-color: $secondary;
		}
	}
}
