$primary: #2a3647;
$secondary: #29abe2;

.board {
	width: 100%;
	margin-top: 96px;
	padding-left: 230px;
	.board-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 100px;
		.board-position {
		}
		.nav-menu-board {
			display: flex;
			.btn {
				font-size: 21px;
				font-weight: 700;
				max-height: 48px;
			}
			
			.input-group {
				margin-right: 20px;
				input {
					max-height: 48px;
					max-width: 312px;
				}
			}
		}
	}
	h4 {
		color: #42526e;
		font-size: 21px;
		font-weight: 700;
	}

	p {
		color: #a8a8a8;
	}
}
