.btn.btn-primary {
	background-color: $primary;
	border: none;
	
	
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
	background-color: $primaryDisabled !important;
}

.arrow-left {
	position: absolute;
	width: 30px;
	left: 20px;
	top: 20px;
	cursor: pointer;
	transition: all 225ms ease-in-out;

	:hover {
		left: 6px;
	}
}

.login-icons {
	width: 30px;
	cursor: pointer;
	transition: all 225ms ease-in-out;

	&:hover {
		transform: translateY(1px);
	}
}
