$primary: #2a3647;

nav.Navbar {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 232px;
	height: 100vh;
	background-color: $primary;
	z-index: 100;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			position: relative;

			padding-left: 50px;
			.color-gray {
				color: #a8a8a8;
			}
		}
		a {
			text-decoration: none;
			color: #fff;
			margin-bottom: 10px;
			padding: 10px;
		}
	}
	a.active {
		background-color: #091931;
		text-decoration: none;
	}
}
